body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Fantasy', "Blippo",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html { 
  /* background: url(https://cdn.wallpapersafari.com/64/0/WNaocO.jpg) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', Fantasy,
    monospace; 
}

h1 {
  font-family: 'Marker Felt', fantasy;
  font-size: larger
}

.font-link {
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.guitar {
  font-family: 'Pacifico', cursive;
}


.detailPic {
  height: auto;
  width: auto;
}

body{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper{
  position: relative;
}

button{
  display: fixed;
  width: 7vw;
  min-height: 2vh;
  height: 2.2vw;
  /* line-height: 50px; */
  font-weight: bold;
  text-decoration: none;
  background-image: linear-gradient(#F05A27, #F5931F);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* border: 3px solid #2E6268; */
  transition: all .35s;
  justify-content: center;
  font-size: 1vh;
}

.icon{
  width: 2vw;
  height: 2vw;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 2vw;
  position: absolute;
  top: calc(50% - 1vw);
  left: calc(50% - 1vw);
  transform: rotate(-45deg);
  fill: #F05A27
  ;
  transition: all .35s;
}

button:hover{
  width: 10vw;
  border: 3px solid #F5931F;
  background: transparent;
  color: #F05A27;
  cursor: pointer;
}

button:hover + .icon{
  /* border: 3px solid #F5931F; */
  left: 10%;
}

/* .House-Depot { 
  font-size: 50px;
} */


/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
} */