body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Fantasy', "Blippo",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', Fantasy,
    monospace; 
}
/* 
h1 {
  align-items: center;
} */

.font-link {
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.guitar {
  font-family: 'Pacifico', cursive;
}